body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  background-color: #262626;
}

h1 {
  padding-top: 3rem;
  font-size: 50px;
  color: white;
  text-shadow: -6px 6px 6px white, -5px 5px 5px white, -4px 4px 4px white,
    -3px 3px 3px white, -2px 2px 2px white, -1px 1px 1px white;
  letter-spacing: 5px;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: black;
  font-weight: bolder;
}

img {
  width: 20%;
  height: 25%;
}

nav a {
  text-decoration: none;
  padding: 5px 15px;
  background-color: rgb(212, 170, 118);
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
  color: white;
  margin: 0 5px;
}

nav a:hover {
  color: red;
  opacity: 0.5;
}

.hi p {
  padding-top: 10rem;
  padding-bottom: 10rem;
  font-size: 40px;
  color: black;
  text-shadow: 4px 4px 4px rgb(212, 170, 118), 3px 3px 3px rgb(212, 170, 118),
    2px 2px 2px rgb(212, 170, 118), 1px 1px 1px rgb(212, 170, 118);
  letter-spacing: 5px;
  -webkit-text-stroke-color: black;
  font-weight: bolder;
}
span i {
  color: yellow;
}

.projects div p {
  text-decoration: underline;
  color: white;
  font-weight: bold;
  font-size: 25px;
}

.projects div img:hover {
  opacity: 0.5;
  cursor: pointer;
}

.contact div p {
  text-decoration: underline;
  color: white;
  font-weight: bold;
  font-size: 25px;
}

.contact div i {
  color: rgb(212, 170, 118);
}
.contact div a {
  text-decoration: none;
  color: rgb(212, 170, 118);
  margin-right: 20px;
  font-weight: bold;
}

.message p {
  color: white;
  font-weight: bold;
}

.username input {
  text-align: center;
  border: 2px solid rgb(212, 170, 118);
  border-radius: 5px;
  width: 300px;
  padding: 10px 0;
  margin-bottom: 10px;
}

.email input {
  text-align: center;
  border: 2px solid rgb(212, 170, 118);
  border-radius: 5px;
  width: 300px;
  padding: 10px 0;
  margin-bottom: 10px;
}

.textarea textarea {
  text-align: center;
  border: 2px solid rgb(212, 170, 118);
  border-radius: 5px;
  width: 300px;
  padding: 10px 0;
  margin-bottom: 10px;
}

.submit button {
  border: 2px solid rgb(212, 170, 118);
  border-radius: 5px;
  width: 300px;
  padding: 10px 0;
  margin-bottom: 10px;
  font-weight: bold;
  opacity: 0.5;
}

.submit button:hover {
  border: 2px solid red;
  cursor: pointer;
  color: red;
  opacity: 1;
  padding: 15px 0;
}

footer a button {
  background-color: rgb(212, 170, 118);
  color: white;
  font-weight: bold;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  cursor: pointer;
  padding: 5px 20px;
}
